.dragThis {
    width: 200px;
    height: auto !important;
    border: 3px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
}
.dragThis .drag-head {
    border-bottom: 2px solid #ccc;
    position: relative;
    height: 25px;
    cursor: pointer;
    background: #eee;
}
.dragThis .drag-inner {
    padding: 0.5em;
    color: #bbb;
    font-size: 13px;
    line-height: 1.2;
}
.dragThis .drag-inner:hover {
    color: #000;
}
.dragThis .remove {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #ccc;
}
.dragThis .remove:hover {
    color: #000;
}
.dragThis .position {
    color: red;
    padding-left: 0;
}
.dragThis .position li {
    list-style: none;
}

.dragThis .drag-inner textarea {
    min-width: 100px;
    width: 100%;
    min-height: 100px;
    border: 1px solid #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 5px;
    color: #000;
    resize: vertical;
}
